<h2>現在 <%= Time.now.strftime("%d日 %H:%M") %> より未来のすべての予定一覧</h2>

<hr />

<table>
  <tr>
    <th>時間帯</th>
    <th>予定</th>
  </tr>
<% for plan in @plans %>
  <tr>
    <%= td(plan) %>
  </tr>
<% end %>
</table>
