<h2>現在 <%= Time.now.strftime("%d日 %H:%M") %></h2>
<div class="ustream">
  <% for user in @accounts %>
    <embed flashvars='viewcount=true&amp;autoplay=false&amp;brand=embed' width='160' height='130' allowfullscreen='true' allowscriptaccess='always'
    src='http://www.ustream.tv/flash/live/1/<%= user[:ustream] %>' type='application/x-shockwave-flash' />
  <% end %>
</div>

<hr />

<table>
  <tr>
    <th>時間帯</th>
    <th>予定</th>
  </tr>
<% for plan in @plans %>
  <tr>
    <%= td(plan) %>
  </tr>
<% end %>
</table>

<%= link_to "すべて見る", "/all" %>
